

.SearchHotel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.SearchHotel input{
    margin-top: 20px;
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

p {
    margin: 10px;
    font-size: 18px;
}

.dataResults {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResults::-webkit-scrollbar {
    /* display: none; */
}

.dataResults p:hover{
    background-color: lightgrey;
}

.datePicker {
    width: 400px;
}